header {
    background-color: white;
    color: black;
}

nav {
    background-color: lightskyblue;
    color: black;
}

section {
    background-color: hotpink;
    color: black;
}

h1 {
    color: black;
}

footer {
    background-color: lightsalmon;
    color: black;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}